<%= form_for(@hipster) do |f| %>
  <% if @hipster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hipster.errors.count, "error") %> prohibited this hipster from being saved:</h2>

      <ul>
      <% @hipster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :favorite_beer %><br />
    <%= f.text_field :favorite_beer %>
  </div>
  <div class="field">
    <%= f.label :irony_rating %><br />
    <%= f.number_field :irony_rating %>
  </div>
  <div class="field">
    <%= f.label :moustache %><br />
    <%= f.check_box :moustache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
