<h1>Listing hipsters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Favorite beer</th>
    <th>Irony rating</th>
    <th>Moustache</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hipsters.each do |hipster| %>
  <tr>
    <td><%= hipster.name %></td>
    <td><%= hipster.favorite_beer %></td>
    <td><%= hipster.irony_rating %></td>
    <td><%= hipster.moustache %></td>
    <td><%= link_to 'Show', hipster %></td>
    <td><%= link_to 'Edit', edit_hipster_path(hipster) %></td>
    <td><%= link_to 'Destroy', hipster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hipster', new_hipster_path %>
