<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hipster.name %>
</p>

<p>
  <b>Favorite beer:</b>
  <%= @hipster.favorite_beer %>
</p>

<p>
  <b>Irony rating:</b>
  <%= @hipster.irony_rating %>
</p>

<p>
  <b>Moustache:</b>
  <%= @hipster.moustache %>
</p>


<%= link_to 'Edit', edit_hipster_path(@hipster) %> | 
<%= link_to 'Destroy', hipsters_path %> |
<%= link_to 'Back', hipsters_path %>
